@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");

.header {
  display: flex;
  min-width: 100vw;
  height: 7vh;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: 0.5px solid #7e7e7e;
}

.link__header {
  text-decoration: none;
  color: black;
}

.avatar__header {
  padding-right: 8px;
}

.menu__header {
  margin-left: 8px;
}

/** Typo  */
.logo__header {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 20px;
}

@media only screen and (min-width: 600px) {
  .header {
    justify-content: space-evenly;
  }
}
